<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>stop</string>
		<key>words</key>
		<array>
			<string>停止</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>forward</string>
		<key>words</key>
		<array>
			<string>前进</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>turnleft</string>
		<key>words</key>
		<array>
			<string>左转</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>turnright</string>
		<key>words</key>
		<array>
			<string>右转</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>backward</string>
		<key>words</key>
		<array>
			<string>后退</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>rotate</string>
		<key>words</key>
		<array>
			<string>旋转</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>changecolor</string>
		<key>words</key>
		<array>
			<string>变色</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>lightoff</string>
		<key>words</key>
		<array>
			<string>关灯</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>horn</string>
		<key>words</key>
		<array>
			<string>鸣笛</string>
		</array>
	</dict>
</array>
</plist>
