<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>stop</string>
		<key>words</key>
		<array>
			<string>stop</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>forward</string>
		<key>words</key>
		<array>
			<string>forward</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>turnleft</string>
		<key>words</key>
		<array>
			<string>turnleft</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>turnright</string>
		<key>words</key>
		<array>
			<string>turnright</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>backward</string>
		<key>words</key>
		<array>
			<string>backward</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>rotate</string>
		<key>words</key>
		<array>
			<string>rotate</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>changecolor</string>
		<key>words</key>
		<array>
			<string>changecolor</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>lightoff</string>
		<key>words</key>
		<array>
			<string>lightoff</string>
			<string>turnofflight</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>horn</string>
		<key>words</key>
		<array>
			<string>horn</string>
		</array>
	</dict>
</array>
</plist>
